<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodie_buddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permision.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".riderReceivePayment"></activity>
        <activity android:name=".riderReachUser">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderReachUser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".riderReceiveOrder">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderReceiveOrder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".riderConfirmRest">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderConfirmRest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".riderReachRest">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderReachRest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".riderOrderDetail">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderOrderDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".riderProfile">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".riderLogin">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.riderLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".rider">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.rider" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeFoodPrice">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.ChangeFoodPrice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ownChangeFPrice">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.ownChangeFPrice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ownDeleteFood">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.ownDeleteFood" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".orderBox">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.orderBox" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".mrAddFood">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.mrAddFood" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".modifiableRestaurants">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.modifiableRestaurants" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodInsert">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.FoodInsert" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".restaurantFoods"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.restaurantFoods" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".userProfile">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.userProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".createRestaurant">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.createRestaurant" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ownerProfile">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.ownerProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ownerLogin">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.ownerLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".owner">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.owner" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.loginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".userActivity">
            <intent-filter>
                <action android:name="com.example.foodie_buddy.userActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>